{% extends 'app_general/components/base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
  <body style="background-image:url({% static 'app_general/concert.jpg' %}); background-attachment: fixed; background-size: cover;">
        <section id="main">
        <aside id="sidebar">
          <div class="dark radius-good">
            <h2>4PM MUSIC</h2>
            <form method="POST" class="quote" action="">
              {% csrf_token %}
  						<div>
  							<label>Email</label><br>
                {% comment %} {{ form.email }} {% endcomment %}
  						  <input type="email" name="email" placeholder="Email Address" required>
  						</div>
  						<div>
  							<label>Username</label><br>
                {% comment %} {{ form.name }} {% endcomment %}
  							<input type="text" name="username" placeholder="Username" required>
  						</div>
                        <div>
                            <label>Password</label><br>
                            {% comment %} {{ form.password }} {% endcomment %}
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div>
                            <label id = "conpass">Confirm Password</label><br>
                            <input type="password" name="con-password" placeholder="Confirm Password" required>
                        </div>
                    <button class="button_1" type="submit">Register</button>
					</form>
          {% for message in messages %}
          <h3>{{ message }}</h3>
          {% endfor %}
          </div>
        </aside>
      </div>
    </section>

    <footer style="position: fixed; left: 0; bottom: 0;">
      <p>4PM MUSIC, Copyright &copy; 2022</p>
    </footer>
{% endblock %}


