{% extends 'app_general/components/base.html' %}
{% load static %}
{% block title %}Song{% endblock %}

{% block content %}
<link rel="styesheet" href="{% static 'app_general/style.css' %}">
<style>
header{
  background:#000000;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}



    #songBody {
      background: black;
      display: block;
      overflow: auto;
    }

    table {
      margin-top: 30px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 150px;
    }
    th {
      text-align: center;
      border-bottom: 1px solid #a7a7a7;
    }

    td, th {
      padding: 15px;
      color: white;
      background: black;
    }

    td:nth-child(2) {
      text-align: center;
      color: #a7a7a7;
    }

    td a {
      color: white;
      text-decoration: none;
    }

    button {
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h1 {
      color: white;
      margin-top: 50px;
    }

    .filter-collection {
    display: inline;
}

.filter-collection a {
    color: #a7a7a7;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
}

.filter-box {
    margin-bottom: 10px;
}
</style>
<body id="songBody">
  <div class="{% static 'columns-container' %}">
    <div class="container">
    <h1>All Songs ({{numberofSong}})</h1>
    <div class="filter-box">
    {% for genre in genres  %}
    <p class="filter-collection"><a href="/song/{{genre}}">{{genre}}</a></p>
    {% endfor %}
    </div>
    <table>
    <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Album</th>
        <th>Artist</th>
        <th></th>
    </tr>
    {% for song in songs %}
    <tr id="playlist">
      <td class="current-song"><a id="music-play" href="{{song.songFile.url}}">{{ song.songName }}</a></td> 
      <td>{{ song.length }}</td>
      <td><a href="/album/{{ song.albumID.albumID }}"> {{ song.albumID }}</a></div></td>
      <td><a href="/artist/{{ song.artistID.artistID }}">{{ song.artistID }}</a></td>
    {% if user.is_authenticated %}
        <td>
        <form style="margin: 0px;" method="POST" class="form-list-setting" action="">
        {% csrf_token %}
        <!-- Select -->
        <div class="select">
          <select onchange="this.form.submit()" name="selected" id="playlist-option">
            <option value="" selected disabled hidden>Add Playlist</option>
            {% for playlist in all_playList %}
            <option value="{{playlist.id}},{{song.songID}}">{{playlist.playlistName}}</option>
            {% endfor %}
          </select>
        </div>
            <!-- <button class="form-button btn-list" type="submit" name="songID" value="{{song.songID}}">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button> -->
        </form>
        <ul class="ul-list">
        </ul>
        </td>


    {% endif %}
    </tr>
    {% endfor %}
    </table>
  </div>
</body>
    {% include 'app_general/components/musicBox.html' %}
{% endblock  %}