{% load static %}
<!DOCTYPE html>
<html>
  <style>
    header{
    background:#000000;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    }
  </style>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>{% block title %}{% endblock title %} | 4PM MUSIC</title>
    <link rel="stylesheet" href="{% static 'app_general/style.css' %}">
    <link rel="stylesheet" href="{% static 'app_general/script.js' %}">
    <link rel="icon" type="image/x-icon" href="../../static/app_general/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
      <header>
            {% include 'app_general/components/site_home_header.html' %}
      </header>
      {% block content %}{% endblock  %}

  </body>
  {% comment %} {% include 'app_general/components/musicBox.html' %} {% endcomment %}
  </html>